.body-container {
    width: 100%;

    .body-img {
        display: flex;
        width: 100%;
        /* background-color: red; */
        height: 50vh;
        justify-content: center;
        align-items: center;

        img {
            width: 50%;
            height: auto;
            object-fit: cover;
        }
    }
}