.header-container {
    display: flex;
    flex-wrap: wrap;
    width: 100dvw;
    height: 90px;
    background-color: var(--main-bg-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: start;
    align-items: center;

    /* Contenedor del logo */
    .logo { 
        display: flex;
        flex: 1;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    /* Contenedor de los links */
    .header-links {
        display: flex;
        flex: 2;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        height: 100%;
        align-items: center;

        a {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;

            &:hover { 
                transform: scale(1.02);
                transition: 0.3s;
                color: rgb(85, 84, 84);
                text-decoration: underline;
            }
        }
    }

    /* Contenedor de botones */
    .header-buttons {
        display: flex;
        flex: 1;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;

        button { 
            width: 30%;
            height: 45%;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: rgb(241, 237, 237);
            font-size: 1.2rem;
        }

        #login { 
            &:hover {
                transform: scale(1.02);
                transition: 0.2s ease;
                border-radius: 20px;
            }
        }

        #signup {
            &:hover {
                transform: scale(1.02);
                transition: 0.2s ease;
                border-radius: 20px;
            }
        }
    }

    img {
        width: 36%;
    }
}

/*      RESPONSIVE      */

@media (max-width: 768px) {
    .header-container {
        height: auto;
        padding: 10px 0;
        gap: 20px;

        .logo,
        .header-links,
        .header-buttons {
            flex: 1 1 100%;
            height: auto;
        }

        .header-links {
            justify-content: center;
            gap: 10px;
        }

        .header-buttons {
            button {
                width: 40%;
            }
        }
    }
}
